.navbar-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    
 }
  
  .navbar-links {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: rgb(240, 11, 182);
    /*min-height: 10vh;*/
    font-family: "Times New Roman", Times, serif;;
    
}